.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

/* fix later */
a {
  text-decoration: none !important;
}

h1 {
  padding: 4px;
  color: black;
}

.navbar {
  margin: 5px;
}

.navbar input {
  width: 250px;
  border-radius: 5px;
  text-align: center;
}

.hero {
  border: 3px solid black;
  height: 40vh;
  margin-top: 10px;
}

.middle-options {
  padding: 2px 5px;
  display: flex;
  border: 1px black dotted;
  margin: 5px 0px;
  justify-content: space-between;
}

.mobile-carousel {
  height: 42vh;
  border: 1px black dotted;
  margin-bottom: 5px;

}

.homebar {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 2px 5px;
  align-items: center;
  border: 1px black dotted;
 /* sticky bottom */
}

.book-item {
  display: flex;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  
}

.book-cover {
  height: 300px;
  width: 200px;
  border: 1px red dotted;
  margin: 3px 10px 3px 5px;
}

.book-item span {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: auto;
  text-align: center;
}

.book-title, 
.book-price, 
.btn {
  padding: 3px;
  margin: 10px 5px;
  display: block;
}
















.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
