/* Used for screen sizes at least 769px in width */



.navbar {
    justify-content: space-around;
    font-size: 2rem;
}

.navbar ul {
    justify-content: center;
    align-items: center;
}

.navbar ul a:hover {
    font-size: 3rem;
}

/* fix logo hover for fullscreen in mobile? */

.logo {
    width: 7em;
    height: 7em;
}


