/* Your site must also be fully responsive and appear well laid out in mobile, tablet, and desktop sizes. */
/* Use flexbox for your grid */


:root {
    background: linear-gradient(to right, #4d4dda, #8e81d370);
    --main-color: #10316b;
    --secondary-color: #000000;
    --accent-color: #e25822;
    --highlight-color: #ececeb;
    --primary-font: 'Noto Sans', sans-serif;
}


body {
    margin: .5em;
    font-size: 1.4rem;
    font-family: var(--primary-font);
    
}

.content {
    display: flex;
    flex-direction: column;
     
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

a:hover {
    font-size: 1.5rem;
}

img {
    padding: .5em;
}

.logo {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

button {
    border-radius: .5em;
    border: rgb(0, 0, 0), 2em;
    padding: .8em;
    background-color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ec4a0a
}

footer {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: var(--accent-color);
    padding: .8em;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

/* Navbar */

.navbar {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    
    padding: 0 .5em;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    margin: 1.5em .5em;
    list-style: none;
}

.navbar ul li {
    margin: .5em;
    padding-top: .4em;;
}

/* Photos */
#homepage-id-photo,
#about-anthony img {
    border-radius: 50%;
}

/* todo: consider making index nav vertical over logo */
/* todo: make logo "background" under a vertical nav */

#index-image img {
    z-index: -1;
}

#index-image {
    margin: auto;
    padding: .5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

/*  todo: this is navbar, move? */
#index-image nav * {
    color: var(--secondary-color);

   
}



/* Text */



/* Media Queries */